* {
  margin: 0;
  padding: 0;
}
html, body {
  height: 100vh;
  margin: 0;
  background-color: black;
  color: #fff;
  font-family: 'Cutive Mono' monospace;
}

.content {
  letter-spacing: 5px;
  font-weight: 100;
  position: absolute;
  /* top: 50%;
  left: 50%; */
}